
@{
    ViewBag.Title = "AlreadyRegisteredWithHabitica";
    Layout = "~/Views/Shared/_NotAuthorized.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />


<a href="/HabiticaAccount/HabiticaLogin">Log in with Habitica</a>  <br /><br />
<a href="/Account/Register">Register</a>





