.task-item {
    background-color: purple;
    color: white;
    padding: 0.5em;
    margin-bottom: 15px;
    height: 10em;
    max-height: 10em;
    max-width: 25em;
    box-shadow: 3px 5px #888888;
    font-family: 'manaspaceregular', cursive;
}
