
@{
    ViewBag.Title = "Not Authorized";
}

@Styles.Render("~/Content/Habitica")

<div class="container-fluid home-login">
    <div class="row">
        <div class="col-xs-12 text-center">
            <ul>
                <li><a href="/Habitica/HabiticaLogin">Login With Habitica</a></li>
                <li><a href="/Account/Register">Register</a></li>
            </ul>
        </div>
    </div>
</div>
