
@{
    ViewBag.Title = "Not Authorized";
}

@Styles.Render("~/Content/Habitica")



<div class="home-login">
    <h1 class="title">Habitica Abroad</h1>
    <div class="login-items">
        <a class="login-item" href="/HabiticaAccount/HabiticaLogin">Habitica Login</a>
        <a class="login-item" href="/Account/Register">Register</a>
    </div>
</div>
