@model HabiticaTravel.Models.UsersGroups

@{
    ViewBag.Title = "ManageMyGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage My Group</h2>

<head>
    <title>LeadearBoards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>Name</th>

                </tr>
            </thead>
            @foreach (var p in Model.TravelGroups)
            {
                <tr>

                    <td>@p.TravelGroupName</td>
                    <td>@Model.UserName</td>


                    @if (ViewBag.CurrentUser == p.GroupLeader)
                    {
                        <td><a href="/Group/DisplayGroupScoreBoard?TravelGroupId=@p.TravelGroupId">LeaderBoards</a></td>

                        <td><a href="/Group/AddNewUserToGroup?NewUser=@p.TravelGroupUsers">Add Memeber</a></td>

                        <td><a href="/Group/UpdateGroup?TravelGroupId=@p.TravelGroupId">Edit Group</a></td>

                        <td><a href="/Group/DeleteGroup?TravelGroupId=@p.TravelGroupId" onclick="return ConfirmDelete()">Delete</a></td>
                    }

                </tr>
            }
        </table>
    </div>
</body>


<a href="/Group/AddNewTravelGroup">Create Group </a>

<script>
    function ConfirmDelete() {

        if (confirm("Are you sure you want to delete this item ?") === true) {

            return true;

        }
        else {
            return false;
        }
    }

</script>