
@model HabiticaTravel.Models.TravelGroupandUser
<br /><br />
<form action="/Group/SearchUserByEmail" method="post" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*&#64;(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])? ">
    <input type="text" name="Email" />
    <input type="submit" value="Search" />
</form>
<br /><br />
<table class="table">

    <tr>
        <th>User Email</th>
    </tr>
</table>


@if (ViewBag.ShowEmail != null)
{
        <tr>
            <td>@ViewBag.showEmail</td>
        </tr>
    <form action="/Group/AddNewUserToGroup" method="post">
        <input type="hidden" name="model" value="@Model" />
        <input class="btn-sm" type="submit" value="Add User" />
    </form>

}
else
{
    <h1>@ViewBag.UserNullMessage</h1>
}


