
@model HabiticaTravel.Models.TravelGroupUser
<br /><br />
<form action="/Group/SearchUserByEmail" method="post">
    <input type="text" name="Email" />
    <input type="submit" value="Search" />
</form>
<br /><br />
<table class="table">
   
    <tr>
        <th>User Email</th>
    </tr>
</table>

@foreach (var email in ViewBag.ShowEmailList)
{
    <tr>
        <td>@email</td>
    </tr>
}

