
@model HabiticaTravel.Models.TravelGroupandUsers
<br /><br />
<form action="/Group/SearchUserByEmail" method="post">
    <input type="text" name="Email" />
    <input type="submit" value="Search" />
</form>
<br /><br />
<table class="table">

    <tr>
        <th>User Email</th>
    </tr>
</table>

<h1>@ViewBag.UserNullMessage</h1>

@if (ViewBag.ShowEmailList != null)
{
    foreach (var email in ViewBag.ShowEmailList)
    {
        <tr>
            <td>@email</td>
            
        </tr>
    }
        <form action="/Group/AddNewUserToGroup" method="post">
            <input type="hidden" name="model" value="@Model" />
            <input class="btn-sm" type="submit" value="Add User" />
        </form>
    
}


