
@{
    ViewBag.Title = "AlreadyRegisteredWithHabitica";
    Layout = "~/Views/Shared/_NotAuthorized.cshtml";
}

<h2>@ViewBag.Message</h2>
<br />


<a href="/Habitica/HabiticaLogin">Log in with Habitica</a><br />
<a href="/Account/Register">Register</a>




