<br /><br />
      <form action="/" method="post">
          <div>
              <input type="text" name="TaskName" placeholder="New Task" />
              <select>
                  <option>Please Choose</option>
                  <option value="habit">Habit</option>
                  <option value="daily">Daily</option>
                  <option value="todo">To-Do</option>
                  <option value="reward">Reward</option>
              </select>
          </div>
          <div><input type="hidden" name="Travel" /></div>
          <div>
              <textarea name="TaskNotes" placeholder="Task Notes"> </textarea>
          </div>
          <div class="container">
              <div class="row">
                  <div class='col-sm-6'>
                      <input type='text' class="form-control" id='datetimepicker4' name="TaskDueDate" />
                  </div>
              </div>
          </div>
          <div>
              <select>
                  <option>Choose Task Difficulty</option>
                  <option value="0.1">Trivial</option>
                  <option value="1">Easy</option>
                  <option value="1.5">Medium</option>
                  <option value="2">Hard</option>
              </select>
          </div>
          <div class="container">
              <div class="row">
                  <div class='col-sm-6'>
                      <input type='text' class="form-control" id='datetimepicker4' name="ReminderStartDate" />
                  </div>
              </div>
          </div>
          <div><!--Insert DateTime Clock: ReminderTime--></div>
          <div>
              <select>
                  <option>Choose Task Frequency</option>
                  <option value="weekly">Weekly</option>
                  <option value="daily">Daily</option>
              </select>
          </div>
          <div>
              <label>Sunday</label> <input type="checkbox" name="su" value="false" />
              <label>Monday</label> <input type="checkbox" name="m" value="false" />
              <label>Tuesday</label> <input type="checkbox" name="t" value="false" />
              <label>Wednesday</label> <input type="checkbox" name="w" value="false" />
              <label>Thursday</label> <input type="checkbox" name="th" value="false" />
              <label>Friday</label> <input type="checkbox" name="f" value="false" />
              <label>Saturday</label> <input type="checkbox" name="s" value="false" />
          </div>
          <div><input type="number" name="" disabled placeholder="Task Streaks" /></div>
          <div><!--Insert DateTime Calender: TaskStartDate--></div>
          <div>
              <select>
                  <option>Habit Picker</option>
                  <option value="true">Good Habit</option>
                  <option value="true">Bad Habit</option>
              </select>
          </div>
          <div><input type="number" name="TaskRewardValue" placeholder="Task Reward Value" disabled /></div>
          <div><input type="number" name="EveryXDays" placeholder="Every X Days" disabled /></div>
          <input type="submit" name="Submit" />
      </form>

@section scripts{
      <script type="text/javascript">
              $(function () {
                  $('#datetimepicker4').datetimepicker();
              });
      </script>
}