<br /><br />
<h2>Already Have a Habitica Account?</h2>
<p>Please login using your email and password</p><br />
<form action="/Habitica/HabiticaAccountCredentials/" method="post" class="form-group">
    <input type="text" class="form-control" name="Email" placeholder="Email" /><br />
    <input type="password" class="form-control" name="Password" placeholder="Password" /><br />
    <input type="submit" class="btn-sm" value="Submit" />
</form>
